<div class="w-100">
    <div class="row text-center align-self-center">
        <div class="col-md-6 ">
            <h1>Flowers Market</h1>
        </div>
        <div class="col-md-6 mx-auto">
            <figure class="figure">
                <img src="{{image}}" alt="Flower image">
            </figure>
        </div>
    </div>
</div>
