h1 {
    margin-top: 200px;
    font-size: 5rem;
}

img{
    width: 100%;
    margin-top: 20px;
    max-width: 500px;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    h1 {
        margin-top: 4px;
        font-size: 4rem;
    }
}