<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-bold ms-4" [routerLink]="['/home']">Flowers Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarColor03">
            <ul class="navbar-nav me-auto" *ngIf="user$ | async as user; ">
                <li class="nav-item" *ngIf="user">
                <a class="nav-link" [routerLink]="['/list']">Productos</a>
                </li>
                <li class="nav-item" *ngIf="user">
                <a class="nav-link" [routerLink]="['/new']">Registrar producto</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end" *ngIf="user$ | async as user;  else login"> 
                <li class="nav-item" *ngIf="user">
                    <a class="nav-link" >{{user?.email}}</a>
                </li>
                <li class="nav-item touchable" *ngIf="user">
                    <a class="nav-link" (click)="onLogout()">Cerrar sesión</a>
                </li>
            </ul>
            <ng-template  #login>
                <ul class="navbar-nav justify-content-end"> 
                    <li class="nav-item touchable">
                        <a class="nav-link" [routerLink]="['/login']">Iniciar sesion</a>
                    </li>
                    <li class="nav-item touchable">
                        <a class="nav-link" [routerLink]="['/register']">Registrarse</a>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
</nav>