<h1 class="mb-2">Editar datos</h1>
<div class="alert alert-info mb-2">
    <h4 class="alert-heading">Hola!</h4>
    <p class="mb-0">Aqui podrás editar los datos del producto seleccionado, asegurate de completar todos los campos.</p>
</div>
<app-flowers-form></app-flowers-form>
