<div class="mx-auto">
    <form (ngSumbit)="onSave()" [formGroup]="flowerForm" class="mt-4 mb-5">
        <div class="row col-md-12">

            <div class="row">
                <div class="col-md-5 col-sm-12 mb-3 col-sm-12 align-s-center">
                    <div class="form-group">
                        <label for="formFile" class="form-label mt-4">Sube una imagen de tu producto</label>
                        <input class="form-control btn-primary"
                        (change)="handleImage($event)"
                        type="file" id="formFile">
                    </div>
                </div>
    
                <div class="col-md-5 col-sm-12 mb-5 img-container mx-auto">
                    <img src="{{url}}" alt="">
                </div>
            </div>
    
            <div class="form-group col-md-5 mb-3"> 
                <div class="form-floating">
                    <input type="email" class="form-control"
                            id="floatingInput"
                            placeholder="Titulo"
                            formControlName = "titulo"
                            [class]="isValidField('titulo')">
                    <label for="floatingInput">Titulo</label>
                    <div class="invalid-feedback">
                        <span *ngIf="flowerForm.get('titulo').errors?.minlength">
                            {{messages.minLength}}
                        </span>
                    </div>
                </div>
            </div>
    
            <div class="form-group col-md-5 mb-3">
                <div class="form-floating ">
                    <input type="text" class="form-control" 
                            id="floatingDescription" 
                            placeholder="Descripcion" 
                            formControlName = "descripcion"
                            [class]="isValidField('descripcion')">
                    <label for="floatingDescription">Descripcion</label>
                    <div class="invalid-feedback">
                        <span *ngIf="flowerForm.get('descripcion').errors?.minLength">
                            {{messages.minLength}}
                        </span>
                    </div>
                </div>
            </div>
    
            <label for="">Precio</label>
            <div class="form-group col-md-5">
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" 
                            aria-label="Precio" 
                            formControlName = "precio"
                            [class]="isValidField('precio')">
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="flowerForm.get('precio').errors?.required">
                        {{messages.required}}
                    </span>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-success me-3" 
                (click)="onSave()"
                [title]="flowerForm.valid ? 'Guarda tus datos' : 'Completa todos los campos'"
                [disabled]="!flowerForm.valid"
                >Guardar Cambios</button>
        <button type="submit" class="btn btn-outline-danger" 
                (click)="onGoBack()"
        >Cancelar</button>  
    </form>
</div>
