img{
    width: 50%;
    box-shadow: rgb(40 42 43 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    border-radius: 3%;
}

.img-container{
    height: 120%;
}

.align-s-center{
    align-self: center;
    padding-bottom: 40px;
}

@media (max-width: 768px) {

    .align-s-center{
        padding-bottom: 10px;
    }

    img{
        width: 100%;
    }
}
