<h1>Productos</h1>
<div class="container ">
    <div class="m-1 row " >
        <div class="card m-3 p-0 mx-auto" *ngFor = "let item of flowers | async | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img src={{item.url}} class="card-img h-100" alt="...">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="text-primary">{{item.titulo}}</h5>
                        <p class="card-text">{{item.descripcion}}</p>
                        <p class="card-text text-muted">{{item.precio | currency}}</p>
                        <button type="button" class="btn btn-outline-primary me-2" (click)= "onGoToEdit(item)">Editar</button>
                        <button type="button" class="btn btn-outline-danger" (click)= "delete(item.id)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls 
        class="text-center" 
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>