<div class="card border-primary mb-3 mx-auto" style="max-width: 800px;">
    <div class="card-header">Iniciar sesion</div>
    <div class="card-body">
        <form (ngSumbit)="onSave()" [formGroup]="loginForm" class="mt-4">
            <div class="row col-md-12">
                <div class="form-group col-md-12"> 
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control"
                                id="floatingInput"
                                placeholder="Correo"
                                formControlName = "email"
                                [class]="isValidField('email')">
                        <label for="floatingInput">Correo</label>
                        <div class="invalid-feedback">
                            El correo es requerido
                        </div>
                    </div>
                </div>
        
                <div class="form-group col-md-12">
                    <div class="form-floating ">
                        <input type="password" class="form-control" 
                                id="floatingPassword" 
                                autocomplete="on"
                                placeholder="Contraseña" 
                                formControlName = "password"
                                [class]="isValidField('password')">
                        <label for="floatingDescription">Contraseña</label>
                        <div class="invalid-feedback">
                            La contraseña es requerida
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success mt-3" 
                    (click)="onSave()"
                    [title]="loginForm.valid ? 'Guarda tus datos' : 'Completa todos los campos'"
                    [disabled]="!loginForm.valid"
                    >Iniciar sesion
            </button>
        </form>
        <div class="mt-3">
            <p>No tienes una cuenta? <a [routerLink]="['/register']">Registrate</a></p>
        </div>
    </div>
</div>