<h1 class="mb-2">Registrar nuevo producto</h1>
<div class="alert alert-info ">
    <h4 class="alert-heading">Hola!</h4>
    <p class="mb-0">Aqui podrás registrar un nuevo producto, asegurate de completar todos los campos.</p>
</div>
<app-flowers-form></app-flowers-form>
